<p><%= @member.first_name %> <%= @member.last_name %> added to <%= @gymclass_booking['name'] %>.</p>

<% @all_classes.each do |c| %>
  <form action="/update_class/<%= c.id %>" method="post">
    Class: <input name="name" value="<%= c.name %>"><br>
    Capacity: <input name="capacity" value="<%= c.capacity %>"><br>
    <input type="submit" value="Update">
  </form>
  <form action="/delete_class/<%= c.id %>" method="post">
    <input hidden name="name" value="<%= c.name %>">
    <input hidden name="capacity" value="<%= c.capacity %>">
    <input type="submit" value="Delete">
  </form>
  <form action="/add_member_to_class" method="post">
    <input hidden name="name" value="<%= c.name %>">
    <input hidden name="capacity" value="<%= c.capacity %>">
    <input hidden name="id" value="<%= c.id %>">
    <select name="member">
      <% @all_members.each do |m| %>
      <option value="<%= m.id %>"><%= m.first_name %> <%= m.last_name %></option>
      <% end %>
    </select>
    <input type="submit" value="Add member to class">
  </form>
<% end %>
