<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Project</title>
    <link rel="stylesheet" type="text/css" href="/gym_project.css">
  </head>
  <body>
    <header>
      <h2 id="title-bar">Ur Gym</h2>
      <ul id="nav-menu">
        <li><a href="/gym_member">All members</a></li>
        <li><a href="/gym_class">All classes</a></li>
        <li><a href="/gym_instructor">All instructors</a></li>
        <li><a href="/gym_booking">All class bookings</a></li>
        <li><a href="/gym_member/new">Register member</a></li>
        <li><a href="/gym_class/new">Add new class</a></li>
        <li><a href="/gym_instructor/new">Add new instructor</a></li>
      </ul>
  </header>
    <div id="content">
    <%= yield %>

<% all_bookings = GymBooking.show_all_bookings() %>
<% all_bookings.each do |b| %>
<div class="form-wrapper">
  <ul id="booking-list">
    <li>Name: <strong><%= b['first_name'] %> <%= b['last_name'] %></strong></li>
    <li>Class: <strong><%= b['name'] %></strong></li>
  </ul>
  <form id="booking-list-form" action="/gym_booking/<%= b['id'] %>/delete" method="post">
    <input hidden name="_method" value="delete">
    <input hidden name="first_name" value="<%= b['first_name'] %>">
    <input hidden name="last_name" value="<%= b['last_name'] %>">
    <input hidden name="name" value="<%= b['name'] %>">
    <input type="submit" value="Delete">
  </form>
</div>
<% end %>
</div>
</body>
</html>
