<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Project</title>
    <link rel="stylesheet" type="text/css" href="/gym_project.css">
  </head>
  <body>
    <h2>Welcome to Ur Gym!</h2>
    <ul id="nav-menu">
      <li><a href="/gym_member">All members</a></li>
      <li><a href="/gym_class">All classes</a></li>
      <li><a href="/gym_instructor">All instructors</a></li>
      <li><a href="/gym_booking">All class bookings</a></li>
      <li><a href="/gym_member/new">Register member</a></li>
      <li><a href="/gym_class/new">Add new class</a></li>
      <li><a href="/gym_instructor/new">Add new instructor</a></li>
    </ul>

    <%= yield %>

    <hr style="margin: 2em 0; border-width: 2px;">

    <% all_classes = GymClass.view_all() %>
    <% all_classes.each do |c| %>
    <div class="form-wrapper">
      <form class="clear-left outer-form" action="/gym_class/<%= c.id %>" method="post">
        <input hidden name="_method" value="put">
        Class: <input required name="name" value="<%= c.name %>" type="text">
        Capacity: <input required name="capacity" value="<%= c.capacity %>" type="number" min="1" max="200">
        <input type="submit" value="Update">
      </form>
      <form class="mid-right-form mid-form" action="/gym_class/<%= c.id %>/delete" method="post">
        <input hidden name="_method" value="delete">
        <input hidden name="name" value="<%= c.name %>">
        <input hidden name="capacity" value="<%= c.capacity %>">
        <input type="submit" value="Delete">
      </form>
      <form class="mid-right-form outer-form" action="/gym_booking/class" method="post">
        <input hidden name="_method" value="put">
        <input hidden name="name" value="<%= c.name %>">
        <input hidden name="capacity" value="<%= c.capacity %>">
        <input hidden name="id" value="<%= c.id %>">
        <select name="member">
          <% all_members = GymMember.view_all() %>
          <% all_members.each do |m| %>
          <option value="<%= m.id %>"><%= m.first_name %> <%= m.last_name %></option>
          <% end %>
        </select>
        <input class="fix-width-btn" type="submit" value="Add member to <%= c.name %> class">
      </form>
      <ul id="gymmember-list">Members assigned:
        <% c.show_assigned_members.each do |m| %>
        <li>&nbsp;&bull;&nbsp;<strong><%= m['first_name'] %> <%= m['last_name'] %></strong></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  </body>
</html>
