<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Project</title>
    <link rel="stylesheet" type="text/css" href="/gym_project.css">
  </head>
  <body>
    <h2>Welcome to Ur Gym!</h2>
    <ul id="nav-menu">
      <li><a href="/gym_member">Show all members</a></li>
      <li><a href="/gym_class">Show all classes</a></li>
      <li><a href="/gym_booking">Show all class bookings</a></li>
      <li><a href="/gym_member/new">Register new member</a></li>
      <li><a href="/gym_class/new">Add new class</a></li>
    </ul>

    <%= yield %>

    <hr style="margin: 2em 0; border-width: 2px;">

<% all_members = GymMember.view_all() %>
<% all_classes = GymClass.view_all() %>
<% all_members.each do |m| %>
<div class="form-wrapper">
  <form id="member-update-form" action="/gym_member/<%= m.id %>" method="post">
    <input hidden name="_method" value="put">
    <label for="first_name">First name:</label><input name="first_name" value="<%= m.first_name %>" type="text">
    <label for="last_name">Last name:</label><input name="last_name" value="<%= m.last_name %>" type="text">
    <label for="age">Age:</label><input name="age" value="<%= m.age %>" type="number" min="16" max="120"><br>
    <label for="contact_number">Contact:</label><input name="contact_number" value="<%= m.contact_number %>" type="text">
    <label for="email">Email:</label><input name="email" value="<%= m.email %>" type="email">
    <input class="fix-right" type="submit" value="Update">
  </form>
  <form action="/gym_member/<%= m.id %>/delete" method="post">
    <input hidden name="_method" value="delete">
    <input hidden name="first_name" value="<%= m.first_name %>">
    <input hidden name="last_name" value="<%= m.last_name %>">
    <input hidden name="age" value="<%= m.age %>">
    <input hidden name="contact_number" value="<%= m.contact_number %>">
    <input hidden name="email" value="<%= m.email %>">
    <input type="submit" value="Delete">
  </form><br>
  <form action="/gym_booking/member" method="post">
    <input hidden name="_method" value="put">
    <input hidden name="first_name" value="<%= m.first_name %>">
    <input hidden name="last_name" value="<%= m.last_name %>">
    <input hidden name="age" value="<%= m.age %>">
    <input hidden name="contact_number" value="<%= m.contact_number %>">
    <input hidden name="email" value="<%= m.email %>">
    <input hidden name="id" value="<%= m.id %>">
    <select name="gym_class">
      <% all_classes.each do |c| %>
      <option value="<%= c.id %>"><%= c.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Add to class">
  </form>
  <ul id="gymclass-list">Classes assigned:
    <% m.show_bookings.each do |b| %>
    <li>&nbsp;&bull;&nbsp;<%= b['name'] %></li>
    <% end %>
  </ul>
</div>
<% end %>

</body>
</html>
