<p>Member deleted:</p>
<ul>
<li>Name: <%= @member.first_name %> <%= @member.last_name %></li>
<li>Age: <%= @member.age %></li>
<li>Contact number: <%= @member.contact_number %></li>
<li>Email: <%= @member.email %></li>
</ul>
