<div id="action-window">
  <p>Member deleted - Name: <strong><%= @member.first_name %> <%= @member.last_name %></strong>,
    <strong>Age: <%= @member.age %></strong>,
    <strong>Contact number: <%= @member.contact_number %></strong>,
    Email: <strong><%= @member.email %></strong>
  </p>
</div>
