<div id="action-window">
  <p>Member registered - Name: <strong><%= @member.first_name %> <%= @member.last_name %></strong>,
    Age: <strong><%= @member.age %></strong>,
    Contact number: <strong><%= @member.contact_number %></strong>,
    Email: <strong><%= @member.email %></strong>
  </p>
</div>
